{# plantilla de nuestra app #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Esta es mi pagina en symfony
{% endblock %}
{#CONTENIDO#}

{% block contenido %}
<div>
    <h3>Esto es mi primera plantilla twig</h3>
</div>
{% endblock %}
